# Last match in file takes precedence.

# Everything
*                                                   @ReboundQ3

# C# code
/Content.*/                                         @ReboundQ3

# YML files
/Resources/*.yml                                    @ReboundQ3 @qu4drivium @OnyxTheBrave
/Resources/**/*.yml                                 @ReboundQ3 @qu4drivium @OnyxTheBrave

# Sprites
/Resources/Textures/                                @ReboundQ3 @JuneSzalkowska

# Lobby art and music
/Resources/Audio/Lobby/                             @ReboundQ3
/Resources/Textures/LobbyScreens/                   @ReboundQ3


# Maps
/Resources/Maps/                                    @ReboundQ3
/Resources/Prototypes/Maps/                         @ReboundQ3
/Content.IntegrationTests/Tests/PostMapInitTest.cs  @ReboundQ3
